<nav>
    <div class="nav-wrapper  red darken-2">
      <a href="#" class="brand-logo right">
		<img src="assets/img/logo.png" class="img-responsive">
      </a>
      <ul id="nav-mobile" class="left hide-on-med-and-down">
        <li >
        	<a  class="waves-effect waves-light"  > 
        		Inicio <i class="glyphicon glyphicon-home"></i> 
        	 </a>
        </li>
        <li  >
        	<a  class="waves-effect waves-light"  > 
        	Estudiantes  
			<i class="glyphicon glyphicon-book"></i>
       		 </a>
        </li>
        <li >
        	<a  class="waves-effect waves-light"  > 
        		Salón
				<i class="glyphicon glyphicon-compressed"></i>
        	 </a>
        </li>

        <li >
        	<a  class="waves-effect waves-light"  > 
        	Notas 
			<i class="glyphicon glyphicon-file"></i>
        </a>
        </li>

         <li >
        	<a  class="waves-effect waves-light"  > 
        	Perfil 
        	<i class="glyphicon glyphicon-paperclip" ></i>
        	</a>
        </li>

         <li >
        	<a  class="waves-effect waves-light"  >
        	 Salir 
        	 <i class="glyphicon glyphicon-off" ></i>
        	</a>
        </li>
        
      </ul>
    </div>
  </nav>