 <table id="search-example" class="table table-responsive centered">
        <thead class="red darken-2   white-text">
          <tr >
              <th class="dynatable-head"  ng-repeat="value in tabla" data-dynatable-column={{value}} > {{value}} </th>
          </tr>
        </thead>

        <tbody>
          <tr  ng-repeat="k in resultado" >

            <td class="left" >
                {{ k.nombre}}
            </td>

             <td  >
                {{ (k.sexo == 'f' ) ?  'Niña' : 'Niño' }}
            </td>


            <td  >
                {{ k.literal}}
            </td>
            
            <td  >  
              <a ng-click="btnVer(k.id)" class="waves-effect waves-light btn-floating  blue">
                <i class="glyphicon glyphicon-file" ></i>
              </a>
            
              <a ng-click="btnEliminar(k.id)"  class="waves-effect waves-light btn-floating  yellow">
                <i class="glyphicon glyphicon-minus" ></i>
              </a>
            </td>

          </tr>


          
        </tbody>
      </table>
            