<br><br>
	
	<h2 class="center" > Registrar Estudiante  </h2>

	<br><br><br><br>




		<div class="input-field col s8 offset-s1"> 
        <input id="nombre" type="text" class="validate">
        <label for="nombre"> Nombres y Apellidos </label>

      </div>
		
      <div class="input-field col s3 offset-s1 " ng-repeat="x in materias" > 
        <input name="{{x.name}}"  type="text" class="validate">
        <label for="nombre"> {{ x.texto }} </label>
      </div>

  <div class="input-field col s4 offset-s1">
    
    <select>
    
      <option ng-repeat="lugar in lugares"  ng-value="lugar.id" >
      {{lugar.texto}}
       </option>
      
    </select>

    <label>Lugar de Nacimiento</label>
  </div>


<div class="input-field col s8 offset-s1"> 
    <input id=edad type="text"  class="datepicker">
    <label for="edad"> Fecha de Nacimiento </label>
</div>

      





       <div class="input-field col s2 offset-s10  ">
        

          <button class="btn btn-block blue darken-4">
          		Guardar  <i class="glyphicon glyphicon-ok"></i>
          </button>
      
      </div>



    

		

      
