<h2 class="center">  Ver literal  </h2>

<div class="input-field col s10 offset-s1 "  >
<select  ng-model="data.sexo " >
  <option value="m" > Niño  </option>
  <option value="f" > Niña  </option>
</select>
<label>Literal</label>
</div>


<textarea class="literal-textarea"></textarea>

<br><br><br>

 <a id=btnEditar class="waves-effect waves-light btn blue "  ng-click="btnMostrarOcultar()" > 
 	Editar <i class="glyphicon glyphicon-edit"></i>  
 </a>
<a id=btnGuardar class="waves-effect waves-light btn red ocultar">  
	Guardar <i class="glyphicon glyphicon-save" ></i>
</a>

<a id=btnCancelar class="waves-effect waves-light btn ocultar" ng-click="btnMostrarOcultar()" >  
	Cancelar <i class="glyphicon glyphicon-eject"></i> 
</a>
 
