<br>
<br>
<br>
<br>  
<section class="center"  >

    <div class="mdl-cell mdl-card ">
        <div class="mdl-card__media">

            <img class="article-image" src="assets/img/logo.png" border="0" alt="">
        </div>
        <div class="mdl-card ">
      <br><br><br><br><br><br>
      <div class="input-field col s6  ">
        
        <input id="last_name" type="text" class="validate" ng-model=usuario >
        <label for="last_name"> Nombre de Usuario </label>
      </div>
      <div class="input-field col s6"> 
        <input id="email" type="password" class="validate"  ng-model=clave >
        <label for="email"> Contraseña </label>

      </div>
        </div>

          <div class="input-field col s1  ">
        
          <input ng-click="ingresar()"  type="btn" class="btn blue darken-4 " value="Ingresar">
      
      </div>
        
    </div>
</section>